@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans'); 
/* ChatGPT */

* { 
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}


/* section inicial */
#section-inicial {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(rgba(51, 50, 50, 0.65),rgba(27, 25, 25, 0.65)), url('imagens e outros/background.png');
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: -1;
    right: 0px;
    
}

.botoes a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 2px transparent solid;
}

.botoes a:hover {
    border-bottom: 2px #606E82ff solid;
    transition: 0.5s;
}

#titulo-principal {
    font-size: 50px;
    margin-bottom: 10px;
}

/* section descricao */
#section-descricao {
    width: 100%;
    border-bottom: 5px solid black;
    color: white;
    background-color: rgba(22,23,29,255);
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 100px;
}

.descricao-jogo {
    max-width: 500px;
    font-weight: 400;
}

#imagem-principal {
    border: black solid 10px;
    border-radius: 7px;
}

a {
    text-decoration: underline;
    color: #3b6c37;
}

/* section download */
#section-download {
    background-color: #151d24;
    color: white;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    padding-top: 100px;
    padding-bottom: 100px;
}

.descricao-download {
    max-width: 500px;
    font-weight: 400;
}

/* section logs */
#section-desenvolvimento {
    background-color: #16171d;
    color: white;
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

}

.titulo-desenvolvimento {
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;

}

.log-e-imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logs {
    max-width: 500px;
    font-weight: 400;
}

.logs li {
    margin-left: 17px;
}

.logs h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
    font-size: medium;

}

/* section heuristica  */
#section-heuristica {
    background-color: #151d24;
    color: white;
    width: 100%;
    border-bottom: 5px solid black;
    padding-bottom: 100px;
}

.titulo-heuristica {
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;
}

#section-heuristica h3 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
}

.fotos-heuristica {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.fotos-heuristica img {
    border: 3px solid black;
}

footer {
    background-color: #16171d;
    color: white;
    width: 100%;
}
footer h3 {
    text-align: center;
    padding: 100px;
    font-weight: 400;

}