* { 
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* josefin sans */
    
}

:root {
    --gradient: linear-gradient(45deg, #363635, rgb(20, 20, 20), rgb(43, 39, 39));
  }
  
main { 
    margin-top: 90px;
}

header {
    display: flex;
    background-image: var(--gradient);
    color: #fff;
    height: 90px;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-direction: row;
    top: 0px;

}

#titulo-principal {
    margin-left: 15px;
    border-bottom: 2px white solid;
}

#botoes{
    margin-left: auto;
    margin-right: 15px;
}

#botoes a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px transparent solid;
}

#botoes a:hover {
    font-size: 22px;
    color:#eff9f0;
    border-bottom: 2px white solid;
    transition: 0.2s;
}

#section-descricao {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    border-bottom: 15px solid red;
    background-image: url('imagens e outros/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;

}

.titulo-descricao {
    padding-top: 25px;
}

#section-video {
    background-color: while ;
    height: 522px;
    width: 100%;
    border-bottom: 15px solid red;
    text-align: center;
    align-items: center;
}

.titulo-video {
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

iframe{
    align-content: center;
    align-items: center;
    border: black solid 10px;
    border-radius: 10px;
}

#section-equipe {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid black;

}

.titulo-equipe {
    padding-top: 25px;
    padding-bottom: 25px;
}

#section-informacoes {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid black;
}

.titulo-tutorial {
    padding-top: 25px;
}

#section-desenvolvimento {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid black;

}

.titulo-desenvolvimento {
    padding-top: 25px;
    padding-bottom: 25px;
}